@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap");
:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: rgb(84, 158, 242);
  --VeryDarkBlue: hsl(234, 12%, 34%);
  --GrayishBlue: hsl(229, 6%, 66%);
  --VeryLightGray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  font-size: 15px;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--VeryLightGray);
}
.container {
  padding: 0 2em;
  margin: 6.13em 0 0 0 ;
  max-width: 1440px;
}

.headerSection {
  text-align: center;
  margin: 0 0 5em 0;
}
.headerSection h1{
  padding-bottom: 2.2em;
  font-size: 1.5em;
  font-weight: 400;
  color: var(--GrayishBlue);
  line-height: 1.5em;
}
.headerSection h1 > p{
  color:var(--VeryDarkBlue);
  font-weight: 600;
}
.headerSection> p{
    color: var(--GrayishBlue);
  }
.card-group {
  border: 1px green;
}
.card {
  background-color: var(--White);
  width: 100%;
  height: 222px;
  margin: 0 0 1.6em 0;
  border-radius: 10px;
  -webkit-box-shadow: 0px 13px 32px 3px rgba(217, 227, 237, 1);
  -moz-box-shadow: 0px 13px 32px 3px rgba(217, 227, 237, 1);
  box-shadow: 0px 13px 32px 3px rgba(217, 227, 237, 1);
}
.card .card-content{
  padding: 2em 1.8em 0 1.8em;
  font-weight: 400;
  color:var(--VeryDarkBlue);
}
.card .card-content .card-text {
  color: var(--GrayishBlue);
  font-size: 0.8em;
}
.card .card-content > img {
  margin: 2.6em 0 0 0;
  float: right;
}
.Supervisor {
  border-top: 5px solid var(--Cyan);
}
.Team {
  border-top: 5px solid var(--Red);
}
.Karma {
  border-top: 5px solid var(--Orange);
}
.Calculator {
  border-top: 5px solid var(--Blue);
}

/*Web view*/

@media(min-width: 1365px){
  .container{
    margin:  6.13em auto;
  }
  .headerSection{
    margin-bottom: 4.47em;
  }
  .headerSection h1{
    font-size: 1.9em;
    font-weight: 200;
    line-height: 1.66em;
    padding-bottom: 1.3em;
    color:var(--VeryDarkBlue);
  }
  .headerSection h1 > p{
    font-size: 1.1em;
  }
  .headerSection> p{
    font-size: 1em;
    width: 37%;
    color: var(--GrayishBlue);
    margin: 0 auto;
  }
  .card-group{
    margin: 0 auto;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr ;
  }  
  .card{
    margin: 0 auto 2.3em auto;
    width: 23.33em;
    height: 16.66em
  }
  .Supervisor,.Calculator{
    margin: 9.33em 0 0 0;
  }
  .Supervisor{
    float: right;
    margin-right: -25px;
  }
  .Calculator{
    margin-left: -25px;
  }

}

@media screen and (min-width: 980px) and (max-width: 1364px) {
  .container{
    margin:  6.13em auto;
  }
  .headerSection{
    margin-bottom: 4.47em;
  }
  .headerSection h1{
    font-size: 1.9em;
    font-weight: 200;
    line-height: 1.66em;
    padding-bottom: 1.3em;
    color:var(--VeryDarkBlue);
  }
  .headerSection h1 > p{
    font-size: 1.1em;
  }
  .headerSection> p{
    font-size: 1em;
    width: 37%;
    color: var(--GrayishBlue);
    margin: 0 auto;
  }
  .card-group{
    margin: 0 auto;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr ;
  } 
  .card{
    width: 80%;
     margin: 0 auto 2.3em auto;
  }
  
  .Supervisor,.Calculator{
    margin: 9.33em auto 0 auto;
  }

}